<!DOCTYPE html>
<html>
    <head>
        <title>About Merangkak</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/about.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body style="background-color: #543647">

	<div class="about-container">
		<div id="about-content">
			<h1 id="about-header">Siapa ? </h1>
			<img id="about-logo" src="logo.png">
	<!-- 		<img src="https://forum.merangkak.com/uploads/default/original/1X/5149c3a98629c12956705433068c939e5168a006.png"> -->
					<p>
			 		Berawal dari pengalaman hidup di negeri orang, pendiri Merangkak.com yang berteman semenjak di bangku kuliah merasakan adanya perbedaan sewaktu hidup dan besar di tanah air, Indonesia. Keluarga kecil yang mereka bangun saat ini mendapatkan tekanan sosial dari lingkungan baru mereka. Sebuah momentum yang membuat mereka berpikir, bertanya, dan mencari tahu jawabannya. Tekanan ini membuka jendela baru dalam kehidupan berkeluarga mereka, mendorong mereka untuk hidup berkeluarga secara lebih mandiri, logis, cerdas, dan sehat.
			 		</p>  
					<p>
					Dalam konteks berkeluarga, terutama mereka yang tergolong keluarga baru yang belum banyak makan asam-garam, penting untuk tahu dan mengerti hal-hal baru yang belum pernah mereka alami sebelumnya, khususnya dalam hal mendidik dan membesarkan anak. Kehadiran anggota keluarga baru merupakan proses pendewasaan bagi setiap pasangan suami-istri. 	
					</p>
					<p>
					Kami yakin bahwa orangtua generasi millennial saat ini merupakan manusia Indonesia yang kritis dan cerdas, penuh pertanyaan konstruktif serta peduli dengan nasib dan masa depan anak-anak mereka. Kami percaya, masa depan bangsa ini ada di tangan anak-anak kami. Dan kami percaya, begitu besar potensi orangtua-orangtua muda yang mampu membangun karakter dan didikan anak-anak Indonesia menuju dunia yang lebih baik. 	
					</p>
					<p>
					Kami percaya bahwa segala macam cara dan metode yang dipergunakan untuk mendidik dan membesarkan kami hingga kami dewasa merupakan bagian dari pengetahuan, budaya, tradisi, bahkan juga mitos, yang baik dan terus berkembang. Dan pengetahuan yang terus berkembang inilah yang melandasi kami untuk membangun sebuah komunitas digital, Merangkak.com, dimana para orangtua dapat berinteraksi, bertukar informasi dan saling membantu dalam proses belajar segala sesuatu yang berhubungan dengan proses membesarkan anak. Di balik teknologi informasi yang berkembang amat sangat pesat dalam satu dekade terakhir, terdapat ilmu yang terkadang memudahkan kita dalam mengatasi masalah. Tidak sedikit jawaban akan pertanyaan sehari-hari didapat dari jari-jemari kita yang lincah membuka informasi dari internet. Dan ini semua telah menjadi pola hidup baru mereka yang hidup di jaman ini, jaman dimana informasi begitu bebas di dapat dan bukan lagi barang mahal.	
					</p>
					<p>
					Setiap langkah yang kita jalani sekarang ini dimulai dengan proses merangkak. Dan di situ pula, kita jatuh dan bangun lagi, hingga kita bisa berjalan, melangkah dan berlari. Kami percaya bahwa proses merupakan bagian dari perjalanan menuju cita-cita luhur. Mari memulai proses menuju keluarga muda yang lebih cerdas dan kritis. 	
					</p> 
			<hr>
			<div class="about-button">
				<a href="/" class="btn btn-default btn-lg" role="button">
				<i class="fa fa-home" aria-hidden="true"></i>
				Home
				</a>
				<!-- <a href="/" button type="button" class="btn btn-default btn-lg" href="/"> -->
			</div>
		</div>
	</div>

<!-- 	<ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
	</ul> -->

	<% include ./partials/footer %>