<!DOCTYPE html>
<html>
    <head>
        <title>Merangkak</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        
    <div id="landing-header">
 		<h1 id="landing-header-title">Selamat datang di Merangkak!</h1>
        <div id="gotoforum-button">
          <a href="https://forum.merangkak.com" id="forum-merangkak-button" class="ui huge orange button">Masuk ke Forum Merangkak</a>
        </div>
        <div id="gotosocmed-button">
            <a href="/about" id="about-merangkak-button" class="ui big orange button">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            Tentang Merangkak
            </a>
            <a href="https://www.facebook.com/MariMerangkak" class="ui big facebook button">
              <i class="facebook icon"></i>
              Komunitas Merangkak
            </a>
            <a href="https://twitter.com/marimerangkak" class="ui big twitter button">
              <i class="twitter icon"></i>
              Komunitas Merangkak
            </a>                              
        </div>
      </div>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>