<% include ../partials/header %>
    <div class=container>
        <header class="jumbotron">
            <div class="container">
                <h1>Selamat datang di Merangkak!</h1>
                <p>Tempat berbagi info seputar parenting Indonesia!</p>
            </div>        
        </header>
    </div>

<% include ../partials/footer %>